.item-card
{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 12px;
    
    display: flex;
    align-items: center;
    
}
.item-card.high 
{
    border-left:6px solid #FF0000  ;
    
   
}
.item-card.medium 
{
    border-left:6px solid #FFFF00;
   
}

.item-card.low 
{
    border-left:6px solid #008080;
    
    
}

.checkbox
{   display: inline block;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
}
.card-title
{
    margin-left: 20px;
}
.badge
{  
    border-radius: 20px;
    padding:4px 10px;
    width:40px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    text-transform: uppercase;
    margin-right:20px;

}
.item-card.low .badge{
    background-color:#00808033;
    color:#008080;
}
.item-card.high .badge{
    background-color: #FF000033 ;
    color: #FF0000;
}
.item-card.medium .badge{
    background-color: #FFFF0033;
    color:#FFFF00;
}
.card-title
{
    margin-left: 20px;
}
.card-title.strike
{
    text-decoration: line-through;
}
.button button.primary
{
    background-color:rgb(22,161,254) ;
}
.button button.secondary
{
    background-color:pink ;
}
.button button:hover{
    box-shadow: 0 10px 20px #aaa;
    
}
.button button{
    border:none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;


}
.edit
{
    margin-right:20px;
}